<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">You have been invited to create Alpha Capitalis account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--<p th:text="#{greeting(${name})}">-->
<!--</p>-->
<!--<p>-->
<!--    <span th:text="#{mainContent(${company})}"></span><a href="http://localhost:5432/"> AlphaCloud</a>-->
<!--</p>-->
<p>
<!--    <span th:text="#{username}"></span><span th:text="${username}"></span><br/>-->
<!--    <span th:text="#{password}"></span><span th:text="${password}"></span>-->
</p>
<!--<p th:text="#{footer}">-->
<!--</p>-->
<!--<p th:text="#{endGreeting}">-->
<!--</p>-->
&emsp; <em>AlphaCloud Team</em>
</body>
</html>
