<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for activation email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{greeting(${name})}">
</p>
<p>
    <span th:text="#{username}"></span><span th:text="${username}"></span><br/>
    <a th:href="${body}"> Reset Password</a>
<p>This link is only valid for 30 minutes.</p>
</p>
<p th:text="#{footer}">
</p>
<p th:text="#{endGreeting}">
</p>
&emsp; <em>AlphaCloud Team</em>
</body>
</html>
